{
  "root": true, // Make sure eslint picks up the config at the root of the directory
  "parserOptions": {
    "ecmaVersion": 2020, // Use the latest ecmascript standard
    "sourceType": "module", // Allows using import/export statements
    "ecmaFeatures": {
      "jsx": true // Enable JSX since we're using React
    }
  },
  "settings": {
    "react": {
      "version": "detect" // Automatically detect the react version
    }
  },
  "env": {
    "browser": true, // Enables browser globals like window and document
    "amd": true, // Enables require() and define() as global variables as per the amd spec.
    "node": true // Enables Node.js global variables and Node.js scoping.
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended" // Make this the last element so prettier config overrides other formatting rules
  ],
  "plugins": ["react", "react-hooks"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "space-in-parens": [0, "always"],
    "computed-property-spacing": [2, "always"],
    "no-use-before-define": [2, { "functions": false }],
    "prefer-const": 1,
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": "off",
    "class-methods-use-this": [1],
    "no-undef": [1],
    "no-case-declarations": [1],
    "no-return-assign": [1],
    "no-param-reassign": [1],
    "camelcase": [1],
    "react/prop-types": "off",
    "prettier/prettier": "off"
  }
}
